interactions:
- request:
    body: '{"location": "westus", "properties": {"administratorLogin": "mysecretname",
      "administratorLoginPassword": "HusH_Sec4et", "version": "12.0"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_doc_examples_test_get_resource_groups73701167/providers/Microsoft.Sql/servers/testsqlserver73701167?api-version=2015-05-01-preview
  response:
    body: {string: '{"operation":"UpsertLogicalServer","startTime":"2017-06-28T17:14:24.743Z"}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/serverAzureAsyncOperation/9f2a10c3-f873-45d5-a872-241c4cc82a9d?api-version=2015-05-01-preview']
      content-type: [application/json; charset=utf-8]
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/serverOperationResults/9f2a10c3-f873-45d5-a872-241c4cc82a9d?api-version=2015-05-01-preview']
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 202, message: Accepted}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Sql/locations/westus/serverAzureAsyncOperation/9f2a10c3-f873-45d5-a872-241c4cc82a9d?api-version=2015-05-01-preview
  response:
    body: {string: '{"name":"9f2a10c3-f873-45d5-a872-241c4cc82a9d","status":"Failed","startTime":"2017-06-28T17:14:24.743Z","error":{"code":"InternalServerError","message":"An
        unexpected error occured while processing the request. Tracking ID: ''0336a37c-d5fd-451d-bd3f-e656072759f3''"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
